body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.home-page-client {
    text-align: center;
    padding: 20px;
}

.hero-client {
    background-color: #2a0a0b62;
    padding: 50px 20px;
    margin: 20px 0;
    color: #D4BB9D;
}

.cta-button-client {
    padding: 10px 20px;
    background-color: #D4BB9D;
    color: #2a0a0b62;
    border: none;
    cursor: pointer;
}

.features-client {
    margin: 20px 0;
    color: #D4BB9D;
}

.features-list-client {
    list-style: none;
    padding: 0;
}

.features-list-client li {
    margin: 10px 0;
}

.container-client {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-client {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image-client {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.card-image-client img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content-client {
    padding: 15px;
    text-align: left;
    width: 100%;
    flex: 1;
}

.card-content-client h2 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #2a0a0b62;
}

.card-content-client p {
    margin: 5px 0;
    color: #555;
}

.price-client {
    font-size: 1.1em;
    font-weight: bold;
    color: #2a0a0b62;
}

.card-actions-client {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
    width: 100%;
}

.button-client {
    background-color: #D4BB9D;
    color: #2a0a0b62;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
}

.button-client:hover {
    background-color: #2a0a0b62;
    color: #D4BB9D;
}

.show-more-button-client {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 5px;
}

.footer-client {
    background-color: #D4BB9D;
    color: #2a0a0b62;
    padding: 10px 0;
}

.social-links-client {
    list-style: none;
    padding: 0;
}

.social-links-client li {
    display: inline;
    margin: 0 10px;
}

.social-links-client a {
    color: #2a0a0b62;
    text-decoration: none;
}
.show-more-button-client {
    background: none;
    border: none;
    color: #007bff; /* Changing the color to blue */
    cursor: pointer;
    text-decoration: underline;
    margin-left: 5px;
}

.show-more-button-client:hover {
    color: #0056b3; /* Changing the hover color to a darker blue */
}
